@import 'reset.css';


html,
body {
  position: relative;
  height: 100%;
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  color: #000;
}
.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  padding:1.5rem;
  box-sizing: border-box;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.home,.info {
  background-color: #fff;
  position: relative;
}
.home .logo{
  width:12rem;
  position: absolute;
  top:0;
  left:1.5rem;
}
.home .title{
  text-align: center;
  margin:5rem auto 3rem;
}
.home .title p{
  font-size: 1rem;
  color:#666;
}
.home .title p:first-child{
  font-size: 2.4rem;
  color:#333;
  font-weight:600;
  margin-bottom: .4rem;
}
.home video{
  width:100%;
  height:28rem;
  object-fit:fill;
  border-radius: 1rem;
}
.seller{
  background:#F4F4F4 url(../static/imgs/seller.png) 0 50% no-repeat;
  background-size: 100% 80%;
}
.seller .text,.product .text{
  margin-top:25%;
  padding:0 1.5rem;
  color:#333;
}
.product .text{
  margin-top:28%;
}
.seller .text p:first-child{
  font-weight: 200;
  font-size: .8rem;
  margin-bottom: .5rem;
}
.text h3{
  font-size: 1.3rem;
  font-weight: 500;
  position: relative;
}
.text h3:after{
  content: "";
  width:6rem;
  height:1px;
  background: #F7A85A;
  position: absolute;
  bottom:-1rem;
  left:0;
}
.text p{
  margin-top: 3rem;
  font-size: 1rem;
  line-height: 1.5;
}
.product{
  background:#8B5C26 url(../static/imgs/product.png) 0 50% no-repeat;
  background-size: 100% 80%;
}
.product .text{
  color:#fff;
}
.warehouse,.course,.subscribe{
  background: #000;
  color:#fff;
}
.warehouse .inner,.course .inner{
  width:100%;
  height:80%;
  border:1px solid #979797;
  border-radius: 9px;
  margin:20% auto;
  background: url(../static/imgs/earth.png) right bottom no-repeat;
  position: relative;
}
.warehouse .text,.course .text{
  padding:1.5rem;
}
.inner a{
  color:#fff;
  background: #000;
  border-radius:8px;
  border:1px solid rgba(247,168,90,1);
  font-size: 1rem;
  width:8rem;
  line-height:3rem;
  position: absolute;
  bottom:1.5rem;
  left:1.5rem;
  padding:0 .7rem;
  text-align: center;
}
.inner a i {
  border: solid #F7A85A;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
  margin-left: .5rem;
}
.inner a .right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.course .inner{
  background: url(../static/imgs/course.png) center bottom no-repeat;
  background-size: 100% 45%;
}
.info h3{
  text-align: center;
  font-size: 1.3rem;
  color:#333;
  position: relative;
  margin:2rem 0 4rem;
}
.info h3:after{
  content: "";
  width:3rem;
  height:1px;
  background: #F7A85A;
  position: absolute;
  bottom:-1rem;
  left:50%;
  margin-left: -1.5rem;
}
.info p,.subscribe p{
  color:#666;
  font-size: 1rem;
  margin-bottom: .7rem;
  padding-left: 3.5rem;
}
.info p.weight{
  color:#333;
}
#container {
  width: 100%;
  height: 14rem;
  margin-bottom: 7rem;
}
.subscribe .ewm{
  width:8rem;
  height:8rem;
  border:1px solid #686B6E;
  padding:.4rem;
  margin:4.5rem auto;
}
.subscribe .ewm img{
  width:100%;
}
.subscribe p{
  color:#9FA3A6;
}
.subscribe p.weight{
  color:#FFF;
}
.subscribe .cjlogo{
  display: block;
  margin:6rem auto 2rem;
}
.subscribe .links{
  display: flex;
  justify-content: center;
  align-items: center;
}
.subscribe a{
  color:#A8ACAF;
  margin:0 1rem;
}
.subscribe.swiper-slide{
  padding:0;
}
.subscribe hr{
  margin-top: 2rem;
  background-color: #686B6E;
  height:1px;
  border:none;
}
.subscribe p.yj{
  text-align: center;
  margin-top: 2rem;
  padding-left: 0;
}

/* 仓库分页 */
.warehousePage,.coursePage{
  width:100%;
  height:100%;
  background-color: #161616;
  color:#fff;
}
.fixedtop{
  position: fixed;
  top:0;
  left:0;
  right:0;
  z-index: 9;
}
.topline{
  background-color: #fff;
  height:2.5rem;
}
.warehouseTab,.courseTab{
  height:2.5rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #434343;
}
.courseTab{
  margin:3.5rem 2rem 2rem;
  justify-content: center;
}
.warehouseTab a,.courseTab a{
  color:#999;
  display: inline-block;
  margin:0 .6rem;
  line-height:2.5rem;
  position: relative;
  font-size: 1rem;
}
.courseTab a{
  font-size: .8rem;
  margin:0 .8rem;
}
.warehouseTab a.active,.courseTab a.active{
  color:#fff;
}
.warehouseTab a.active:after,.courseTab a.active:after{
  content: "";
  width:100%;
  height:2px;
  background-color: #F9912A;
  position: absolute;
  bottom:0;
  left:0;
}
.courseTab a.active:after{
  width:6px;
  height:6px;
  border-radius: 50%;
  margin-left: -3px;
  left:50%;   
  bottom:-3px;
}
.warehousePage .swiper-slide{
  margin-top: 7rem;
  position: relative;
}
.coursePage .swiper-slide{
  margin-top: 10rem;
  position: relative;
  padding-left: 3rem;
}
.warehousePage .swiper-slide h3{
  font-weight:900;
  font-size: 1.7rem;
  position: relative;
}
.coursePage .swiper-slide h3{
  font-weight:500;
  font-size: 1.4rem;
  margin-bottom: 2rem;
}
.coursePage .swiper-slide h4{
  font-weight:500;
  font-size: 2rem;
  -webkit-line-clamp: 2;
  background-image: -webkit-linear-gradient(left, rgba(246, 108, 35, 1), rgba(246, 108, 35, 1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.coursePage .swiper-slide h4 img{
  width: 1rem;
  position: relative;
  top: 0;
  left: .5rem;
}
.warehousePage .swiper-slide h3:after{
  content: "";
  width:6rem;
  height:1px;
  position: absolute;
  background-color: #F7A85A;
  bottom:-1rem;
  left:0;
}
.warehousePage .swiper-slide p{
  margin-top: 3rem;
  font-size: 1rem;
  line-height: 1.5;
}
.coursePage .swiper-slide p{
  font-size: 1rem;
  line-height: 2;
}
.coursePage .swiper-slide p span{
  color:#FA6400;
  font-size:1.6rem;
  margin:0 .3rem;
  line-height: 1;
}
.warehousePage .swiper-slide img{
  width:88%;
  position: absolute;
  bottom:15rem;
  left:1.5rem;
}
.courseImg{
  width:100%;
  padding:0 2rem;
  position: fixed;
  bottom:6rem;
  left:0;
  box-sizing: border-box;
}
.courseImg img{
  width:100%;
}
.footer{
  width:100%;
  position: fixed;
  bottom:2rem;
  left:0;
}
.footer p{
  text-align: center;
  color:#666;
  font-size: .8rem;
}
@media screen and (max-width:320px) {
  html,
  body {
    font-size: 12px;
  }
}
@media screen and (min-width:321px) and (max-width:414px) {
  html,
  body {
    font-size: 14px;
  }
}
@media screen and (min-width:415px) {
  html,
  body {
    font-size: 16px;
  }
  .swiper-slide {
    padding: 3rem;
  }
  .home video {
    height: 34rem;
  }
  .seller {
    background: #F4F4F4 url(../static/imgs/seller.png) 41% 50% no-repeat;
    background-size: 92% 80%;
  }
  .seller .text, .product .text {
    padding: 0 3.5rem;
  }
  .product {
    background: #8B5C26 url(../static/imgs/product.png) 41% 50% no-repeat;
    background-size: 92% 80%;
  }
  .warehouse .inner, .course .inner {
    width: 92%;
  }
  #container {
    height: 23rem;
  }
}


























